<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP template</title>
    <script src="script.js" defer></script>
</head>
<body>
    <h1>TP template</h1>
    <div class="Titre">
        <p>Premier paragraphe</p>
    </div>
    <template data-template-id="hello-message">
        <p class="message" data-template-id="mess">Voici un paragraphe affiché depuis une template</p>
        <img src="https://avatars.githubusercontent.com/u/86784707?v=4" alt="" data-template-id="image1">
    </template>
</body>
</html>